# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# FastAPI
backend/.env

# Node / Next.js
node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/.env

# OS files
.DS_Store

# Docker
*.log
